aniso8601==9.0.1
click==8.0.4

Flask==2.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flasgger

gunicorn==20.1.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0

Werkzeug==2.0.3
celery==5.2.7
redis

google~=3.0.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

httplib2shim